:root {
  --ff-primary: 'Press Start 2P', cursive;
  --ff-secondary: 'concert one', cursive;

  --br-s: 6px;
  --br-m: 8px;
  --br-l: 10px;

  --cell-size: 30px;
  --cell-content-size: 20px;

  --wall-bg-color: rgba(211, 211, 211, 0.439);
  --wall-border: 2px solid rgba(255, 255, 255, 0.509);

  --color-dark-primary: rgb(39, 0, 94);
  --color-dark-secondary: rgba(40, 14, 87, 0.958);
  --color-light-primary: rgb(67, 31, 139);
  --color-light-secondary: rgba(67, 31, 139, 0.58);
  --color-selected: rgb(224, 117, 117);

  --shadow-glow-s: -0px 0px 0px #ffc, 0px 0px 0px #fff;
  --shadow-glow-m: -1px 1px 5px #ffc, 1px -1px 5px #fff;

  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aliceblue;
}

.flex {
  display: flex;
}

.main-header {
  margin: auto;
  margin-block-start: 1.5em;
  width: 95svw;
  background-color: purple;
  color: aliceblue;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--br-m);
  transition: 100ms;
}

.main-header h1 {
  margin-inline-start: 1.5em;
}

.main-header:hover,
.main-header *:hover {
  text-shadow: var(--shadow-glow-s);
}

.map {
  border-radius: var(--br-m);
}

.main-container {
  border-radius: var(--br-m);
  display: grid;
  height: 95svh;
}

.main-header input {
  border-radius: var(--br-m);
  width: 18em;
  height: 4em;
}

.main-header * {
  margin: 0.5em;
}

.main-content-container {
  border-radius: var(--br-m);
  display: grid;
  grid-template-columns: 0.6fr 0.6fr;
  margin: auto;
  width: 90svw;
  border: 3px solid purple;
}

.weather-app-container {
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: var(--br-m);
  width: 100%;
  color: purple;
}

.button-grid-container {
  display: grid;
  gap: 1em;
  border-radius: var(--br-m);
  margin: auto;
  width: 90svw;

  grid-template-columns: repeat(4, 1fr);
}

.paragraph-container {
  width: 90svw;
  margin: auto;
  border-radius: var(--br-m);
  border: 3px solid purple;
  box-shadow: var();
}

.paragraph-container p {
  margin-inline-start: 15px;
}

.footer {
  width: 90svw;
  height: 200px;
  display: flex row;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: var(--br-m);
  border: 3px solid purple;
}
